{% set body_class = "default" %}
{% extends "layout/_layout.njk" %}

{% block custom_css %}

    <!-- Place Custom Styles Inside <style> Tag -->

{% endblock %}

{% block header %}
    {% include "sections/_header.njk"%}
{% endblock %}

{% block content %}

    {% include "sections/_content-left-form-right.njk" %}
    {% include "sections/_video.njk" %}
    {% include "sections/_faq.njk" %}
    {% include "sections/_pre-footer.njk" %}

{% endblock %}

{% block footer %}
    {% include "sections/_footer.njk"%}
{% endblock %}