<style type="text/css">
    a {
        color: {{styles.colors.link}};
    }

    a:link {
        color: {{styles.colors.link}};
    }

    a:visited {
        color: {{styles.colors.link}};
    }
    a.whiteLink {
        color: {{styles.colors.white}};
    }

    a.whiteLink:link {
        color: {{styles.colors.white}};
    }

    a.whiteLink:visited {
        color: {{styles.colors.white}};
    }
    a.greyLink {
        color: {{styles.colors.grey}};
    }

    a.greyLink:link {
        color: {{styles.colors.grey}};
    }

    a.greyLink:visited {
        color: {{styles.colors.grey}};
    }
    a.primaryLink {
        color: {{styles.colors.primary}};
    }

    a.primaryLink:link {
        color: {{styles.colors.primary}};
    }

    a.primaryLink:visited {
        color: {{styles.colors.primary}};
    }
    a.secondaryLink {
        color: {{styles.colors.secondary}};
    }

    a.secondaryLink:link {
        color: {{styles.colors.secondary}};
    }

    a.secondaryLink:visited {
        color: {{styles.colors.secondary}};
    }
</style>