<style type="text/css">
    @media only screen and (min-width:480px) {
        .mj-column-per-50 {
            width: 50% !important;
            max-width: 50%;
        }

        .mj-column-per-100 {
            width: 100% !important;
            max-width: 100%;
        }

        .mj-column-per-30 {
            width: 30% !important;
            max-width: 30%;
        }

        .mj-column-per-33 {
            width: 33% !important;
            max-width: 33%;
        }

        .mj-column-per-36 {
            width: 36% !important;
            max-width: 36%;
        }
        .mj-column-per-38 {
            width: 38% !important;
            max-width: 38%;
        }

        .mj-column-per-35 {
            width: 35% !important;
            max-width: 35%;
        }

        .mj-column-per-62 {
            width: 62% !important;
            max-width: 62%;
        }

        .mj-column-per-65 {
            width: 65% !important;
            max-width: 65%;
        }

        .mj-column-per-70 {
            width: 70% !important;
            max-width: 70%;
        }
    }
</style>