<!-- Add Bootstrap Classes to Form Fields -->
<script type="text/javascript">
  $(document).ready(function () {
    $("p.form-field")
      .not(".hidden")
      .each(function () {
        var classes = $(this).attr("class");
        if (classes.indexOf("col-") <= 0) {
          $(this).addClass("col-12");
        }
      });
  });
</script>