<!-- Add Margin To Submit Button if reCaptcha is Displayed -->
<script type="text/javascript">
  $(document).ready(function () {
    if ($(".pd-captcha").length) {
      $("#pardot-form p.submit input").css("margin-top", "80px");
    }
  });
</script>