<!-- Social Share -->
<div id="social-share">
  {% for account in social %}
    <!-- {{ account.name | capitalize }} -->
    <a pardot-region="{{ account.name | capitalize }}" href="{{ account.link }}" target="blank">{{ account.lp_icon | safe }}</a>
  {% endfor %}
</div>