{% extends "layout/_layout.html" %}

{% block header %}

    {% include "sections/header/_preheader-text.html" %}
    

{% endblock %}

{% block content %}

    {% include "sections/content/_full_width_image_pardot_sales.html" %}
    {% include "sections/content/_50-50_spotlight.html" %}
    {% include "sections/content/_50-50_no_image_1.html" %}
    {% include "sections/content/_image_left_article_right_1.html" %}
    {% include "sections/content/_image_left_article_right_2.html" %}
    {% include "sections/content/_50-50_no_image_2.html" %}
    {% include "sections/content/_primary_bg_white_contact.html" %}

    

{% endblock %}

{% block footer %}
    {% include "sections/footer/_footer.html" %}

{% endblock %}