<!DOCTYPE html>
<html lang="en">

    <head>
        {% if controls.demo_form == false%}
            <base href="{{general.pardot_tracking_domain}}">
        {% endif %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="%%description%%"/>
        <title>%%title%%</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous"/>

        {% if controls.demo_form%}
            <!-- Form Styles - CI -->
            <link rel="stylesheet" href="css/form_styles_ci.css"/>
        {% else %}
            <!-- Form Styles - CI -->
            <link rel="stylesheet" href="{{general.form_styles}}"/>
        {% endif %}

    </head>

    <body class="{{body_class}}">
        {% if controls.demo_form %}
            {% include "../includes/_demo-form.njk" %}
        {% else %}
            %%content%%
        {% endif %}

        <!-- jQuery, Popper, Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        {% include "../includes/_iframe-form-resize-script.njk" %}
        {% if controls.inline_form_fields %}
            {% include "../includes/_inline-form-fields.njk" %}
        {% endif %}
        {% include "../includes/_bootstrap-form-fields.njk" %}
        {% include "../includes/_recaptcha_script.njk" %}
        {% include "../includes/_copyright-year.njk" %}

    </body>

</html>