<!-- 3-Column Services Section -->
<section id="three-col-services">
  <div class="container">
    <div class="row">
      <div pardot-region="Services - Headline" class="col-md-12">
        <h3 class="h2 mb-5">
          Aliquam efficitur lacus risus, id porttitor velit condimentum sed.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img pardot-region="Services 1 - Image" src="https://via.placeholder.com/400x400" class="img-fluid"/>

        <h4 pardot-region="Services 1 - Headline" class="display-5 mt-3">
          Service
        </h4>
        <p pardot-region="Services 1 - Content">
          Vestibulum fringilla cursus velit. Fusce et nunc a urna fringilla feugiat non non massa. Duis porta purus quis quam elementum, non cursus.
        </p>
      </div>
      <div class="col-md-4">
        <img pardot-region="Services 2 - Image" src="https://via.placeholder.com/400x400" class="img-fluid"/>

        <h4 pardot-region="Services 2 - Headline" class="display-5 mt-3">
          Service
        </h4>
        <p pardot-region="Services 2 - Content">
          Vestibulum fringilla cursus velit. Fusce et nunc a urna fringilla feugiat non non massa. Duis porta purus quis quam elementum, non cursus.
        </p>
      </div>
      <div class="col-md-4">
        <img pardot-region="Services 3 - Image" src="https://via.placeholder.com/400x400" class="img-fluid"/>

        <h4 pardot-region="Services 3 - Headline" class="display-5 mt-3">
          Service
        </h4>
        <p pardot-region="Services 3 - Content">
          Vestibulum fringilla cursus velit. Fusce et nunc a urna fringilla feugiat non non massa. Duis porta purus quis quam elementum, non cursus.
        </p>
      </div>
    </div>
  </div>
</section>