<!-- Hero -->
<header>
	{% include "../sections/_nav.njk" %}
	<div class="container">
		<div id="hero" class="row">
			<div class="col-12">
				<h1 pardot-region="Hero - Headline" class="display-3 text-uppercase mb-0 pb-0">
					Email Preference Center
				</h1>
			</div>
		</div>
	</div>
</header>