<!-- FAQ Section  -->
<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 pardot-region="FAQ - Headline" class="h1 mb-3">
          FAQs
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" pardot-region="FAQ - Column 1">
        <h4>Question example here?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet
          leo ac lectus bibendum efficitur. Duis venenatis enim a nibh molestie,
          ac lobortis tellus malesuada. Donec vestibulum felis ac ornare
          suscipit.
        </p>
      </div>
      <div class="col-md-4" pardot-region="FAQ - Column 2">
        <h4>Lorem ipsum dolor sit amet?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet
          leo ac lectus bibendum efficitur. Duis venenatis enim a nibh molestie,
          ac lobortis tellus malesuada. Donec vestibulum felis ac ornare
          suscipit.
        </p>
      </div>
      <div class="col-md-4" pardot-region="FAQ - Column 3">
        <h4>Cras pharetra quam a justo?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet
          leo ac lectus bibendum efficitur. Duis venenatis enim a nibh molestie,
          ac lobortis tellus malesuada. Donec vestibulum felis ac ornare
          suscipit.
        </p>
      </div>
    </div>
  </div>
</section>
