<!-- Editable Hero Background Image -->
<code pardot-region="Change Header Background image" pardot-region-type="HTML">
				<!-- Instructions for Updating Background Images Here: https://www.loom.com/share/7bc3a807f3e9446393c3b49bab0fa527 -->
				<style>
								header {
												background-image: url("{{ images.lp_header }}") !important;
												background-size: cover !important;
												background-repeat: no-repeat !important;
												background-position: center top !important;
												background-color: #222222 !important;
								}
				</style>
</code>

<!-- Hero -->
<header>
	{% include "../sections/_nav.njk" %}
	<div class="container">
		<div id="hero" class="row">
			<div class="col-12">
				<h1 pardot-region="Hero - Headline" class="display-3 text-uppercase mb-0 pb-0">
					Lorem Ipsum Dolor
				</h1>
				<h2 pardot-region="Hero - Subhead" class="display-5">
					Aenean nisl arcu, malesuada quis ullamcorper vitae, volutpat sit amet neque
				</h2>
			</div>
		</div>
	</div>
</header>