<!-- Headline with CTA Section  -->
<section id="headline-cta">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 pardot-region="Headline - Headline" class="my-4">
          Lorem ipsum dolor sit amet? Donec fermentum arcu in!
        </h2>
        <div pardot-region="Headline - CTA">
          <a href="#" class="btn btn-xl btn-primary">Get In Contact Today</a>
        </div>
      </div>
    </div>
  </div>
</section>