<!-- Two-Column, Image Left, Content Right -->
<section id="image-left-content-right">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img pardot-region="Left Column 2 - Image" src="https://via.placeholder.com/500x500" class="img-fluid" />
      </div>
      <div pardot-region="Left Column 2 - Content" class="col-md-7 offset-md-1">
        <h1>Main Headline Dolor Sit Amet</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
          vestibulum lacus vel malesuada elementum. Donec egestas porttitor
          lorem iaculis venenatis.
        </p>
        <h3>Smaller Headline Dolor Sit Amet</h3>
        <p>
          In arcu neque, feugiat a congue et, congue rutrum nibh. Cras ac orci
          non quam maximus dignissim. Nulla facilisi. Sed turpis ligula,
          pulvinar sit amet malesuada quis, rhoncus id ante. Donec imperdiet
          enim bibendum quam maximus dignissim. Praesent nec massa sem. Nulla
          vitae lectus ac libero dapibus dictum.
        </p>
        <ul>
          <li>
            Donec sit amet mauris est. In hac habitasse platea dictumst.
          </li>
          <li>
            Quisque auctor quam gravida neque placerat, a semper nibh elementum.
            Nam sodales augue gravida, tincidunt erat id, lobortis tellus.
          </li>
          <li>Sed suscipit neque sed eros elementum volutpat</li>
        </ul>
      </div>
    </div>
  </div>
</section>