<!-- Pre-Footer -->
<section id="pre-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 h3" pardot-region="Prefooter - Content">
        Questions? Call
        <a href="tel:{{ general.phone }}" target="_blank"
          >{{ general.phone }}</a
        >
        or
        <a href="{{ general.contact_url }}" target="_blank">Contact Us</a>
      </div>
    </div>
  </div>
</section>
