<!--   Testimonial Section   -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-10 col-lg-6 mx-auto">
        <h2 pardot-region="Testimonial - Headline" class="display-5 mb-3">
          TESTIMONIAL
        </h2>
        <p
          pardot-region="Testimonial - Quote"
          class="quote lead font-italic mb-3"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit
          euismod interdum. Duis scelerisque condimentum ante, quis rhoncus
          neque tempor eu. Pellentesque id enim orci. Aenean nisl arcu,
          malesuada quis ullamcorper vitae, volutpat sit amet neque. Praesent
          odio lacus, rutrum eu viverra vel, scelerisque nec lorem.
        </p>
        <p pardot-region="Testimonial - Author" class="author lead">
          &ndash; George Washington Carver
        </p>
      </div>
    </div>
  </div>
</section>
