<!--   Video Section   -->
<section id="video">
  <div class="container">
    <div class="row">
      <div class="col-10 col-lg-6 mx-auto">
        <h2 pardot-region="Video - Headline" class="display-5">
          What are Salesforce Pardot Connected Campaigns?
        </h2>
        <p pardot-region="Video - Content" class="lead">
          Watch Cheshire Impact's Head of Solutions Architecture, Jennifer Lynn Schneider, and Founder & CMO, Casey
          Cheshire break them down.
        </p>
        <div pardot-region="Video - Embed" class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://youtube.com/embed/ttXLzOJrXmo" frameborder="0"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>