<!-- Whitepaper Section -->
<section id="whitepaper">
  <div class="container">
    <div class="row text-center text-sm-left">
      <div class="col-10 col-lg-6 mx-auto">
        <h2 pardot-region="Whitepaper - Headline" class="text-center display-3 mb-4">
          WHITEPAPER
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 offset-md-2 pt-2">
        <div class="row">
          <div pardot-region="Whitepaper - 1" class="col-3 h1 text-right text-sm-left">
            1.
          </div>
          <div pardot-region="Whitepaper - 1 Desc" class="col-9 text-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="row">
          <div pardot-region="Whitepaper - 2" class="col-3 h1 text-right text-sm-left">
            2.
          </div>
          <div pardot-region="Whitepaper - 2 Desc" class="col-9 text-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="row">
          <div pardot-region="Whitepaper - 3" class="col-3 h1 text-right text-sm-left">
            3.
          </div>
          <div pardot-region="Whitepaper - 3 Desc" class="col-9 text-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
      </div>

      <div class="col-md-5 offset-md-1 pt-2">
        <div pardot-region="Whitepaper - Text" class="pb-3 pt-3 pb-sm-5 pt-sm-0">
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis nec sapien ac suscipit.
          </p>
          <p class="lead">
            Vivamus et metus ante. Suspendisse faucibus metus mauris, at euismod enim laoreet.
          </p>
        </div>

        <div pardot-region="Whitepaper - CTA">
          <a href="#pardot-form" class="btn btn-xl btn-light mt-3">
            Download Guide
          </a>
        </div>
      </div>
    </div>
  </div>
</section>